<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar px-3 custom_nav">
        <a class="navbar-brand">SheetSoundSynth</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="saved_music">Saved Music</a>
            </li>
        </ul>
        <div class="buttons">
            <p></p>
            <a href="" id="btn_logout"><button class="btn  custom_signup my-2 my-sm-0" >Logout</button></a>
            <button class="btn btn_login">Login</button>    
            <a href="/register_account" id="btn_signup"><button class="btn custom_signup my-2 my-sm-0">Sign up</button></a>
        </div>
    </nav>
    <main class="container">
        <h3>Music Sheet into playable melody.</h3>
        <div class="file_div">
            <p>Choose music sheet image and click upload to convert it.</p>
            <div class="choose_file">
                <input id="file_input" name="images" class="btn" type="file" accept="image/*" multiple>
                <button id="browse_file">Choose File</button>
                <span id="filename"></span>
                <!-- <a href="/playground"> -->
                    <button class="btn_upload">Convert</button>
                <!-- </a> -->
            </div>
        </div>
        <div class="description">
            <p>Choose from a variety of instruments like Piano, Organ, Flute, Guitar, Violin, and more to hear your sheet music come to life. Simply upload your music sheet, select your instrument, and enjoy the sound of your composition in an instant."</p>
        </div>
    </main>
    <footer>
    </footer>
    <div class="loader_background">
        <div class="loader"></div>
        <p>Converting . . .</p>
    </div>
    <!-- Login form modal -->
    <div class="login_background" >
        <form class="login_form" method="post">
            <p id="message"></p>
            <h3>Login to SheetSoundSynth</h3>
            <label>Email Address
                <input class="" type="email" name="login_email">
            </label>
            <label>Password
                <input type="password" name="login_password">
            </label>
            <input type="submit" value="Log in">
            <button class="btn btn-outline-secondary btn_cancel">Cancel</button>
            <p>Don't have an account?<a href="/register_account">Sign up</a></p>
        </form>
    </div>
    <!-- Logout form modal -->
    <div class="logout_background" >
        <div class="logout_modal">
            <h3>Logout from SheetSoundSynth</h3>
            <p>Are you sure you want to logout?</p>
            <button class="btn" id="btn_yes_logout">Yes</button>
            <button class="btn btn-outline-secondary btn_cancel_logout">Cancel</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>