<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/file_upload.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <h2>SheetSound Synth</h2>
        <a href="">Dashboard</a>
        <a href="">Saved Music</a>
        <a href="">Logout</a>
    </nav>
    <main>
        <header>
            <h3><%= information.firstname%> <%= information.lastname %></h3>
        </header>
        <div class="main_div">
            <div id="file_upload">
                <figure>
                    <img src="/images/cloud_upload.svg" alt="Cloud upload icon">
                    <input id="browse_file" type="button" value="Browse File">
                </figure>
            </div>
        </div>
        <input type="file" name="sheet_music[]" accept="image/*" multiple id="fileInput" style="display: none;">
        <div class="buttons">
            <button>Play</button>
            <button>Stop</button>
            <button id="add_more">Add More</button>
        </div>
        <div class="buttons">
            <select name="" id="">
                <option value="">Piano</option>
                <option value="">Flute</option>
                <option value="">Violin</option>
                <option value="">Guitar</option>
            </select>
            <button id="save_music">Save Music</button>
            <button id="clear">Clear</button>
        </div>
    </main>
</body>
</html>