<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <% if(typeof result !== "undefined" && result === "success"){ %>
        <p id="success">Successfull registered!</p>
        <% }
        else if(typeof result !== "undefined"){ %>
        <p class="error"><%= result %></p>
        <% } %>
    </header>
    <form action="/create" method="post">
        <h1>Register</h1>
        <label>First Name:
            <input type="text" name="firstname">
        </label>
        <label>Last Name:
            <input type="text" name="lastname">
        </label>
        <label>Email Address:
            <input type="text" name="email">
        </label>
        <label>Password:
            <input type="password" name="password">
        </label>
        <label>Confirm Password:
            <input type="password" name="confirm_pass">
        </label>
        <input type="submit" value="Register">
        <p><a href="/login">Already have an account?</a></p>
    </form>
</body>
</html>