<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/savemusic.css">
    <script src="/js/savemusic.js"></script>
    <title>Saved Music</title>
</head>
<body>
    <nav class="navbar px-3 custom_nav">
        <a class="navbar-brand">SheetSoundSynth</a>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="saved_music">Saved Music</a>
            </li>
        </ul>
        <div class="buttons">
            <p></p>
            <a href="" id="btn_logout"><button class="btn  custom_signup my-2 my-sm-0" >Logout</button></a>
        </div>
    </nav>
    <main>
    </main>
    <!-- Logout form modal -->
    <div class="logout_background" >
        <div class="logout_modal">
            <h3>Logout from SheetSoundSynth</h3>
            <p>Are you sure you want to logout?</p>
            <button class="btn" id="btn_yes_logout">Yes</button>
            <button class="btn btn-outline-secondary btn_cancel_logout">Cancel</button>
        </div>
    </div>
    <!-- Open music modal -->
    <div class="open_music_background" >
        <div class="open_music_modal">
            <h3>SheetSoundSynth</h3>
            <p>Are you sure you want to open this?</p>
            <button class="btn" id="btn_open_music">Open</button>
            <button class="btn btn-outline-secondary btn_cancel_open">Cancel</button>
        </div>
    </div>
    <!-- Delete modal -->
    <div class="delete_background" >
        <div class="delete_modal">
            <h3>SheetSoundSynth</h3>
            <p>Are you sure you want to delete this music?</p>
            <button class="btn" id="btn_delete_music">Delete</button>
            <button class="btn btn-outline-secondary btn_cancel_delete">Cancel</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>